<div class="card">
    <div class="card-header" style="background-color: white; font-size: 30px; font-weight: bold">Administración del estado de las reservas</div>
    <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
             <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
        </svg>
        <div *ngIf="reservas?.length==0" class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
                No hay reservas registradas en el sistema.
            </div>
        </div>
        <table class="table table-bordered table-striped" *ngIf="reservas.length>0">
            <thead>
                <tr>
                    <th>Id reserva</th>
                    <th>Usuario</th>
                    <th>Cantidad de personas</th>
                    <th>Salón</th>
                    <th>Fecha de uso</th>
                    <th>Hora inicio</th>
                    <th>Hora fin</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of reservas">
                    <td>{{reserva.id}}</td>
                    <td>{{reserva.nombres}} {{reserva.apellidos}}</td>
                    <td>{{reserva.cantidadPersonas}}</td>
                    <td>{{reserva.objSalon?.nombreSalon}} de {{ reserva.objSalon?.ubicacion }}</td>
                    <td>{{reserva.fechaReserva | date:'dd/MM/yyyy'}}</td>
                    <td>{{reserva.horaInicio.toString()}}</td>
                    <td>{{reserva.horaFin.toString()}}</td>
                    <td>{{reserva.estadoReserva}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-success" (click)="confirmarReserva(reserva.id)" title="Confirmar reserva"><i class="fa-solid fa-circle-check"></i></button>
                        <button class="btn btn-danger" (click)="cancelarReserva(reserva.id)" title="Cancelar reserva"><i class="fa-solid fa-x"></i></button>
                        <button class="btn btn-dark" (click)="editarReserva(reserva.id)" title="Editar reserva"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-secondary" (click)="verReserva(reserva.id)" title="Ver reserva"><i class="fa-solid fa-eye"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row" style="text-align: left;">
        <div class="col-sm-2">
            <button class="btn btn-primary" style="background-color: #000066; color: white" role="button" (click)='irRegistrarReservas()'>Registrar reserva</button>
        </div>
    </div>
</div>


